<form class="grid flex-1 grid-cols-1 relative" action="#" method="GET">
    <input (keyup)="searchRegion(getValue($event))" type="search" name="search" aria-label="Search" class="rounded-md border-0 col-start-1 row-start-1 block size-full bg-gray-200 pl-12 text-base text-gray-900 outline-hidden placeholder:text-gray-400 sm:text-sm/6 w-64" placeholder="Rechercher une région">
    <svg class="ml-4 pointer-events-none col-start-1 row-start-1 size-5 self-center text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
    </svg>
    @if(regionList.length > 0){
        <div *ngIf="autocompleteVisible" class="absolute top-10 left-0 divide-y divide-gray-200 w-full border-2 border-gray-400 max-h-64 overflow-auto">
            <div (click)="selectRegion(region)" class="cursor-pointer flex items-center bg-white border-black px-2 py-2 hover:text-indigo-400 hover:fill-indigo-400" *ngFor="let region of regionList">
                <p title="{{region.nom}}" class="text-sm">
                    {{region.nom}}
                </p>
            </div>
        </div>
    }
    @else {
        <div *ngIf="autocompleteVisible" class="absolute top-10 left-0 divide-y divide-gray-200 w-full border-2 border-gray-400 max-h-64 overflow-auto">
            <div class="flex items-center bg-white border-black px-2 py-2">
                <p class="text-sm text-gray-500">
                    Aucune région trouvée
                </p>
            </div>
        </div>
    }
</form>